/* Extra large screens (4K monitors, desktops) */
@media (min-width: 2560px) {

    /* side-bar!! */
    .side-bar a {
        font-size: 2.8rem;
    }

    .side-bar {
        width: 34rem;
    }

    .btn-container {
        margin-bottom: 35px;
    }

    .icon svg {
        width: 50px;
    }

    .post-btn button {
        padding: 30px 220px;
        border-radius: 50px;
        margin-top: 50px;
        font-size: 2.2rem;
    }

    .pfp img {
        width: 100px;
        height: 100px;
    }

    .profile-name p {
        font-size: 2.1rem;
    }

    .options i {
        font-size: 3.1rem;
    }

    /* fyp section!! */
    .fyp-section {
        gap: 15px;
        /* width: 60%; */
    }

    .header {
        width: 1600px;
        height: 100px;
        border: 3px solid #2F3336;
        border-top: none;
    }

    .header-btn p {
        font-size: 2.1rem;
    }


    /* tweet box!! */
    .tweet-box {
        width: 1600px;
        margin-top: 100px;
        padding: 20px 40px;
        border: 3px solid #2F3336;
        border-top: none;
    }

    .tweet-pic img {
        width: 180px;
        height: 180px;
    }

    .input input,
    ::placeholder {
        height: 170px;
        font-size: 3.3rem;
        padding-left: 20px;
    }

    .reply svg {
        width: 65px;
    }

    .reply p {
        font-size: 2.1rem;
    }

    .reply p {
        font-size: 2.1rem;
    }

    .tool svg {
      width: 30px;
    }

    .extra-post button {
        padding: 30px 50px;
        font-size: 2rem;
        border-radius: 60px;
        margin-top: 10px;
    }


    /* show more */
    .show-more {
        width: 1600px;
        border: 3px solid #2F3336;
        font-size: 2.1rem;
        border-top: none;
        padding: 40px 0;
    }

    /* tweets!! */
    .tweets {
        max-width: 1600px;
        border: 3px solid #2F3336;
        border-top: none;
    }

    .tweet-pfp img {
        width: 150px;
        height: 150px;
    }

    .tweet-pfp {
        padding: 30px;
    }

    .tweet-head {
        padding: 50px 0 15px 0;
    }

    .head-options svg {
        width: 50px;
        margin-right: 30px;
    }

    .caption p {
        font-size: 2.1rem;
    }

    .tweet-handle {
        font-size: 2.1rem;
    }

    .tweet-cont img {
        width: 55rem;
        border-radius: 28px;
    }

    .stats {
        width: 55rem;
        padding: 10px 0;
    }

    .stats p svg {
        width: 50px;
    }

    .stats p {
        font-size: 2.1rem;
    }

    .share svg {
        width: 50px;
        margin-right: 15px;
    }


    /* search tab!! */
    .search-input input {
        width: 50rem;
        height: 90px;
        border: 3px solid #2F3336;
        border-radius: 50px;
        padding: 30px 0 0 50px;
    }

    .search-input i {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .subscribe {
        width: 50rem;
        margin-top: 145px;
        border-radius: 40px;
        padding: 30px;
        border: #2F3336 solid 3px;
    }

    .subscribe-h h6 {
        font-size: 3.1rem;
    }

    .subscribe-h span {
        font-size: 2.1rem;
        padding: 15px 25px;
        border-radius: 20px;
        margin-left: 25px;
    }

    .cta p {
        font-size: 2.1rem;
        margin-top: 40px;
    }

    .subscribe-btn button {
        font-size: 2.1rem;
        padding: 20px 40px;
        border-radius: 40px;
        margin-top: 38px;
    }


    /* today's news!! */
    .today {
        width: 50rem;
        border-radius: 40px;
        border: 3px solid #2F3336;
        margin-top: 60px;
    }

    .today-h svg {
        width: 45px;
        margin-right: 20px;
    }

    .news-title p {
        font-size: 2.1rem;
        padding-left: 15px;
    }

    .acconts img {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    .date p {
        font-size: 1.8rem;
        margin: 10px 0 0 20px;
    }


    /* explore tab!! */
    .explore-header {
        width: 1600px;
        border: 3px solid #2F3336;
    }

    .input-container2 input {
        width: 1300px;
        height: 80px;
        border-radius: 50px;
        border: 3px solid #2F3336;
    }

    .input-container2 i {
        font-size: 35px;
        margin: 8px 0 17px 15px;
    }

    .fs-position {
        margin-top: 220px;
    }

    .list-container {
        width: 1600px;
        padding-left: 30px;
        border-left: 3px solid #2F3336;
        border-right: 3px solid #2F3336;
    }

    .input-container2 input,
    ::placeholder {
        font-size: 3.3rem;
        padding-left: 40px;
    }

    .svg-container svg {
        width: 45px;
        margin: 20px 15px;
    }

    .link {
        height: 100px;
    }

    .link-p p {
        margin-top: 20px;
        font-size: 2.1rem;
    }

    .place p,
    .fs-option i {
        font-size: 1.8rem;
    }

    .hash-tag p {
        font-size: 2.1rem;
        margin-top: 30px;
    }


}

/* Large desktops (1920px - Full HD) */
@media (max-width: 1440px) and (max-width: 1439px) {

    /* side-bar!! */
    .side-bar a {
        font-size: 1.2rem;
    }

    .side-bar {
        width: 16rem;
    }

    .btn-container {
        margin-bottom: 15px;
    }

    .icon svg {
        width: 25px;
    }

    .post-btn button {
        padding: 12px 108px;
        border-radius: 50px;
        margin-top: 30px;
        font-size: 1.2rem;
    }

    .pfp img {
        width: 50px;
        height: 50px;
    }

    .profile-name p {
        font-size: 0.98rem;
    }

    .options i {
        font-size: 1.1rem;
    }

    /* fyp section!! */
    .fyp-section {
        gap: 15px;
    }

    .header-btn {
        height: 30px;
    }

    .header {
        width: 400px;
        height: 60px;
        border: 3px solid #2F3336;
        border-top: none;
    }


}

/* Medium desktops / laptops */
@media (min-width: 1024px) and (max-width: 1439px) {
    .side-bar {
        width: 10rem;
    }

    .icon svg {
        width: 15px;
    }

    .btn-container {
        margin-bottom: 8px;
    }

    .side-bar a {
        font-size: 0.9rem;
    }

    .post-btn button {
        padding: 12px 60px;
        border-radius: 50px;
        margin-top: 30px;
        font-size: 1.2rem;
    }

    .pfp img {
        width: 30px;
        height: 30px;
    }

    .profile-name p {
        font-size: 0.7rem;
    }

    .options i {
        font-size: 0.9rem;
    }

    .fyp-section {
        gap: 8px;
    }

    .header {
        width: 25rem;
        height: 60px;
        border: 3px solid #2F3336;
        border-top: none;
    }

    /* tweet box!! */
    .tweet-box {
        width: 25rem;
        /* padding: 10px; */
        border: 3px solid #2F3336;
        border-top: none;
    }

    .tweet-pic {
        padding: 17px;
    }

    .tweet-pic img {
        width: 30px;
        height: 30px;
    }

    .reply svg {
        width: 17px;
    }

    .reply p {
        font-size: 0.8rem;
    }

    .tool svg {
      width: 16px;
    }

    .extra-post button {
        padding: 8px 16px;
        font-size: 0.9rem;
        border-radius: 60px;
    }

    .profile {
        margin-top: 40px;
    }

    .show-more {
        width: 25rem;
        border: 3px solid #2F3336;
        font-size: 0.8rem;
        border-top: none;
        padding: 16px 0; 
    }


    /* tweets!! */
    .tweets {
        max-width: 25rem;
        border: 3px solid #2F3336;
        border-top: none;
    }

    .tweet-pfp img {
        width: 35px;
        height: 35px;
    }

    .caption p {
        font-size: 0.8rem;
    }

    .tweet-handle {
        font-size: 0.8rem;
    }

    .tweet-head {
        width: 21rem;
    }

    .head-options svg {
        width: 15px;
        margin-right: 10px;
    }

    .tweet-cont img {
        width: 18rem;
        border-radius: 28px;
    }

    .stats {
        width: 16rem;
    }

    .stats p svg {
        width: 15px; 
    }

    .stats p {
        font-size: 0.8rem;
    }

     .share svg {
        width: 15px; 
    }

}

/* Tablets (portrait & landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        display: none;
        /* hide sidebar */
    }

    .main-content {
        width: 100%;
    }
}

/* Mobile devices */
@media (max-width: 767px) {
    nav {
        display: none;
        /* replace with hamburger menu */
    }

    .main-content {
        padding: 10px;
    }
}