@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* default styles!! */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* body!! */
body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: #fff;
}


svg {
    fill: #fff;
    width: 28px;
}

/* main!! */
main {
    display: flex;
    width: 100%;
    height: 100vh;
}


/* side-bar section!! */
.side-bar {
    width: 27% auto;
    padding: 1% 0 0 5%;
    height: 100%;
}

.side-bar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.75rem;
}

.btn-container {
    display: flex;
    gap: 18px;
    padding: 10px 18px;
    width: auto;
    border-radius: 28px;
}

.btn-container:hover {
    transition: 0.9s ease;
    background-color: #1b1b1b;
}

.btn-text {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
}

.post-btn {
    margin-top: 20px;
}

.post-btn button {
    padding: 15px 100px;
    font-size: 1.3rem;
    border-style: none;
    border-radius: 28px;
}

.post-btn button:hover {
    background-color: #D7DBDC;
    transition: 0.9s ease;
    cursor: pointer;
}

.profile {
    margin-top: 110px;
    display: flex;
    gap: 20px;
    padding: 10px 18px;
    border-radius: 28px;
}

.profile:hover {
    background-color: #1b1b1b;
    transition: 0.9s ease;
}

.handle {
    color: #7a7070;
    margin-top: 5px;
}

.pfp img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.options {
    display: flex;
    align-items: center;
    margin-left: auto;
}


/* fyp section!! */
.fyp-section {
    width: 77vw;
    display: flex;
    margin-left: 40px;
    overflow-y: scroll;
    height: 100vh;
}

.posts {
    border-top: none;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: transparent;
    height: 60px;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    position: fixed;
    top: 0;
    width: 36rem;
    background: #39251c20;
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid #7a7070;
    justify-content: space-around;
}
.header-btn {
    max-width: 50vw;
}

.active {
    max-width: 60px;
    height: 5px;
    border-radius: 28px;
    margin-top: auto;
    background-color: rgb(29, 155, 240);
}

.header div {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
}

.header div:hover {
    background-color: #1b1b1b;
    transition: 0.9s ease;
}

.header div p {
    padding-top: 22px;
    text-align: center;
}


/* tweet box!! */
.reply svg {
    fill: rgb(29, 155, 240);
    width: 23px;
    margin-right: 8px;
}

.reply p {
    color: rgb(29, 155, 240);
}

.tweet-pic img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.tweet-pic {
    padding: 20px 0 20px 20px;
}

.tweet-box {
    display: flex;
    margin-top: 60px;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    gap: 10px;
    border-bottom: 1px solid #7a7070;
    width: 36rem;
}

.tweet-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    width: 95%;
}

.bottom {
    margin: 20px 30px 0 0;
    border-bottom: 1px solid #7a7070;
}

.extras {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-right: 20px;
    justify-content: space-between;
}

.extra-tools {
    display: flex;
    gap: 8px;
}

.input input,
::placeholder {
    background-color: #000;
    color: #7a7070;
    border: none;
    height: 50px;
    font-size: 1.4rem;
}

.reply {
    display: flex;
    align-items: center;
}

.tool svg {
    width: 20px;
    fill: rgb(29, 155, 240);
}

.tweets {
   max-width: 36rem;
}

.extra-post button {
    padding: 10px 24px;
    border-radius: 24px;
    border: none;
    font-weight: 600;
}

.extra-post button:hover {
    transition: 0.9s ease;
    background-color: #D7DBDC;
}


/* show more!! */
.show-more p {
    color: rgb(29, 155, 240);
}

.show-more {
    border-bottom: 1px solid #7a7070;
    height: 120px;
    padding: 17px 0;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    display: flex;
    align-items: center;
    width: 36rem;
    justify-content: center;
}


/* tweets!! */
.tweets {
    width: 100%;
    display: flex;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    padding-bottom: 15px;
    border-bottom: 1px solid #7a7070;
}

.tweet-pfp img {
    width: 53px;
    height: 53px;
    border-radius: 100%;
}

.tweet-pfp {
    padding: 15px 10px 0 20px;
}

.tweet-post {
    width: 100%;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 22rem;
}

.tweet-head {
    display: flex;
    padding: 17px 15px 0 0;
    justify-content: space-between;
}

.tweet-handle {
    color: #7a7070;
    font-size: 1.1rem;
}

.tweet-handle strong {
    color: #fff;
}

.head-options svg {
    fill: #7a7070;
    width: 21px;
}

.caption p {
    margin-top: 6px;
    font-size: 1.1rem;
}

.tweet-cont img {
    width: 22rem;
    border-radius: 14px;
}

.tweet-cont {
    margin-top: 40px;
}

.tweet-likes {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}

.share {
    padding-right: 20px;
}

.stats p svg {
    width: 20px;
    margin-right: 4px;
    fill: #7a7070;
}

.stats p {
    font-size: 0.95rem;
    color: #7a7070;
    display: flex;
    align-items: center;
}

.share svg {
    width: 20px;
    fill: #7a7070;
    margin-left: 5px;
}


/* search tab!! */
.search-tab {
    padding: 0 30px 8px 30px;
}

.search-input {
    position: fixed;
    padding-top: 12px;
    margin-bottom: 80px;
    background-color: #000;
}

.search-input input {
    height: 50px;
    background-color: #000;
    border: 1.8px solid #7a7070;
    width: 21rem;
    display: flex;
    justify-content: center;
    border-radius: 28px;
    padding: 13px 0 8px 37px;
}

.search-input i {
    position: absolute;
    bottom: 17.5px;
    left: 12px;
    color: #7a7070;
}

.subscribe {
    margin-top: 80px;
    border: 1.8px solid #7a7070;
    padding: 15px 20px;
    border-radius: 18px;
    width: 21rem;
}

.subscribe-h {
    display: flex;
    align-items: center; 
}

.subscribe-h span {
    background-color: #004329;
    padding: 5px;
    border-radius: 7px;
    margin-left: 10px;
    font-size: 0.96rem;
    color: #61D688;
}

.subscribe-h h6 {
    font-size: 1.3rem;
}

.cta p {
    margin-top: 15px;
    font-size: 0.968rem;
}

.subscribe-btn button {
    margin-top: 20px;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 28px;
    font-size: 0.98rem;
    font-weight: bold;
    background-color: #1D9BF0;
}

.subscribe-btn button:hover {
    background-color: #0176c5;
    transition: 0.9s ease;
    cursor: pointer;
}  

.today-h svg {
    width: 18px;
    fill: #7a7070;
    margin-bottom: 8px;
}

.today-h {
    margin-bottom: 35px;
    padding: 10px 12px 0 20px;
    justify-content: space-between;
}

.news {
    /* margin-top: 30px; */
    padding: 10px 20px 20px 17px;
}

.today {
    margin-top: 20px;
    border: 1.8px solid #7a7070;
    padding: 15px 0 0 0;
    border-radius: 18px;
    width: 21rem;
}

.news:hover {
    background-color: #1b1b1b;
    transition: 0.9s ease;
}

.news-title p {
    font-size: 0.999rem;
}

#last-news {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}


.news-details {
    display: flex;
    color: #7a7070;
    font-size: 0.89rem;
    gap: 10px;
    margin-top: 10px;
}

.acconts {
    display: flex;
}

.acconts img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


/* explore tab!! */
.explore-tab {
    width: 37rem;
}

.explore-header {
    position: fixed;
    margin-bottom: 150px;
     background: #39251c20;
    backdrop-filter: blur(10px);
    width: 36rem;
    border: 1px solid #7a7070;
}

.explore-input {
    display: flex;
    justify-content: space-between;
    padding: 12px 17px 12px 30px;
}

.input-container2 i {
    color: #7a7070;
    position: absolute;
    top: 26px;
    left: 37px;
    margin-left: 5px;
}

.input-container2 input {
    height: 45px;
    background: #000;
    border: 1.9px solid #7a7070;
    width: 30rem;
    padding-left: 40px;
    border-radius: 27px;
}

.input-container2 input,
::placeholder {
    font-size: 1rem;
}

.svg-container svg {
    fill: #fff;
    width: 21px;
    margin-top: 10px;
}

.nav-links {
    display: flex;
}

.link {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    display: flex;
    justify-content: center;
}

.link:hover {
    background-color: #1b1b1b;
}

.link-p p {
    padding-bottom: 20px;
    text-align: center;
    color: #71767B;
    font-size: 0.9rem;
}

.active2 {
    height: 5px;
    border-radius: 28px;
    margin-top: auto;
    background-color: rgb(29, 155, 240);
}

.active-now p {
    font-weight: bold;
    color: #fff;
}


/* list container!! */
.span-tag {
    color: rgb(29, 155, 240);
}

.space {
    margin-top: 128px;
}

.list-container {
    width: 36rem;
    padding: 18px 15px 10px 15px;
    border-left: 1px solid #71767B;
    border-right: 1px solid #71767B;
}

.list-container:hover {
    background-color: #1b1b1b;
    transition: 0.9s ease;
}

.position {
    display: flex;
    color: #71767B;
    font-size: 0.8rem;
    margin-bottom: 8px;
    justify-content: space-between;
}

.tag {
    color: #71767B;
    font-size: 0.9rem;
    margin-top: 5px;
}
