@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* default styles!! */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* body!! */
body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: #fff;
    max-height: 100vh;
    /* margin-bottom: 300px; */
}


svg {
    fill: #fff;
    width: 28px;
}

/* main!! */
main {
    display: flex;
    width: 100%;
    /* padding-left: 5%; */
}


/* side-bar section!! */
.side-bar {
    width: 27% auto;
    padding: 1% 0 0 5%;
    height: 100%;
}

.side-bar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.75rem;
}

.btn-container {
    display: flex;
    gap: 18px;
    padding: 10px 18px;
    width: auto;
    border-radius: 28px;
}

.btn-container:hover {
    transition: 0.9s ease;
    background-color: #1b1b1b;
}

.btn-text {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
}

.post-btn {
    margin-top: 20px;
}

.post-btn button {
    padding: 15px 100px;
    font-size: 1.3rem;
    border-style: none;
    border-radius: 28px;
}

.post-btn button:hover {
    background-color: #D7DBDC;
    transition: 0.9s ease;
    cursor: pointer;
}

.profile {
    margin-top: 150px;
    display: flex;
    gap: 20px;
    padding: 10px 18px;
    border-radius: 28px;
}

.profile:hover {
    background-color: #1b1b1b;
    transition: 0.9s ease;
}

.handle {
    color: #7a7070;
    margin-top: 5px;
}

.pfp img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.options {
    display: flex;
    align-items: center;
    margin-left: auto;
}


/* fyp section!! */
.fyp-section {
    width: 77vw;
    display: flex;
    margin-left: 40px;
    overflow-y: scroll;
    height: 100vh;
}

.posts {
    border-top: none;
    /* position: relative; */
    max-height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.header {
    display: flex;
    background-color: transparent;
    height: 60px;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    position: fixed;
    top: 0;
    width: 36rem;
    /* width: 77vw; */
    /* max-width: fit-content; */
    background: #39251c20;
    backdrop-filter: blur(10px);   
    z-index: 1;
    border-bottom: 1px solid #7a7070;
    justify-content: space-around;
}
.header-btn {
    max-width: 50vw;
}

.active {
    max-width: 60px;
    height: 5px;
    border-radius: 28px;
    margin-top: auto;
    background-color: rgb(29, 155, 240);
}

.header div {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
}

.header div:hover {
    background-color: #1b1b1b;
    transition: 0.9s ease;
}

.header div p {
    padding-top: 22px;
    text-align: center;
}


/* tweet box!! */
.reply svg {
    fill: rgb(29, 155, 240);
    width: 23px;
    margin-right: 8px;
}

.reply p {
    color: rgb(29, 155, 240);
}

.tweet-pic img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.tweet-pic {
    padding: 20px 0 20px 20px;
}

.tweet-box {
    display: flex;
    margin-top: 60px;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    /* overflow-y: scroll; */
    /* flex-direction: column; */
    gap: 10px;
    border-bottom: 1px solid #7a7070;
    width: 36rem;
}

.tweet-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    width: 95%;
}

.bottom {
    margin: 20px 30px 0 0;
    border-bottom: 1px solid #7a7070;
}

.extras {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-right: 20px;
    justify-content: space-between;
}

.extra-tools {
    display: flex;
    gap: 8px;
}

.input input,
::placeholder {
    background-color: #000;
    color: #7a7070;
    border: none;
    height: 50px;
    font-size: 1.4rem;
}

.reply {
    display: flex;
    align-items: center;
}

.tool svg {
    fill: rgb(29, 155, 240);
}

.extra-post button {
    padding: 10px 24px;
    border-radius: 24px;
    border: none;
    font-weight: 600;
}

.extra-post button:hover {
    transition: 0.9s ease;
    background-color: #D7DBDC;
}


/* show more!! */
.show-more p {
    color: rgb(29, 155, 240);
}

.show-more {
    border-bottom: 1px solid #7a7070;
    height: 55px;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    display: flex;
    align-items: center;
    width: 36rem;
    justify-content: center;
}


/* tweets!! */
.tweets {
    width: 100%;
    display: flex;
    border-left: 1px solid #7a7070;
    border-right: 1px solid #7a7070;
    padding-bottom: 15px;
    border-bottom: 1px solid #7a7070;
}

.tweet-pfp img {
    width: 53px;
    height: 53px;
    border-radius: 100%;
}

.tweet-pfp {
    padding: 15px 10px 0 20px;
}

.tweet-post {
    width: 100%;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 22rem;
}

.tweet-head {
    display: flex;
    padding: 17px 15px 0 0;
    justify-content: space-between;
}

.tweet-handle {
    color: #7a7070;
    font-size: 1.1rem;
}

.tweet-handle strong {
    color: #fff;
}

.head-options svg {
    fill: #7a7070;
    width: 21px;
}

.caption p {
    margin-top: 6px;
    font-size: 1.1rem;
}

.tweet-cont img {
    width: 22rem;
    border-radius: 14px;
}

.tweet-cont {
    margin-top: 40px;
}

.tweet-likes {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}

.share {
    padding-right: 20px;
}

.stats p svg {
    width: 20px;
    margin-right: 4px;
    fill: #7a7070;
}

.stats p {
    font-size: 0.95rem;
    color: #7a7070;
    display: flex;
    align-items: center;
}

.share svg {
    width: 20px;
    fill: #7a7070;
    margin-left: 5px;
}